<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:sl="http://typo3.org/ns/BPN/BpnRequestAccess/ViewHelpers"
      xmlns:vt="http://typo3.org/ns/BPN/BpnVariableText/ViewHelpers"
      data-namespace-typo3-fluid="true"
      lang="en">

<f:if condition="{errors}">
    <div class="alert alert-danger" role="alert">
        <ul>
        <f:for as="error" each="{errors}">
            <li>{error.message} [{error.code}]</li>
        </f:for>
        </ul>
    </div>
</f:if>
</html>
