<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:sl="http://typo3.org/ns/BPN/BpnRequestAccess/ViewHelpers"
      xmlns:vt="http://typo3.org/ns/BPN/BpnVariableText/ViewHelpers"
      data-namespace-typo3-fluid="true"
      lang="en">
<f:layout name="Default"/>

<f:section name="main">
    <vt:variableText labelName="request_access_deny_access">
        <vt:variableText.marker name="requesting_user_full_name"><f:render partial="UsersName" arguments="{user:request.userRequestSource}"/></vt:variableText.marker>
        <vt:variableText.marker name="requesting_user_email"><f:render partial="UserNameOrEmail" arguments="{user:request.userRequestSource}"/></vt:variableText.marker>
        <vt:variableText.marker name="target_user_full_name"><f:render partial="UsersName" arguments="{user:request.userRequestTarget}"/></vt:variableText.marker>
        <vt:variableText.marker name="target_user_email"><f:render partial="UserNameOrEmail" arguments="{user:request.userRequestTarget}"/></vt:variableText.marker>
    </vt:variableText>
</f:section>
</html>
