<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:sl="http://typo3.org/ns/BPN/BpnRequestAccess/ViewHelpers"
      xmlns:vt="http://typo3.org/ns/BPN/BpnVariableText/ViewHelpers"
      data-namespace-typo3-fluid="true"
      lang="en">
<f:layout name="Default"/>

<f:section name="main">
    <f:render partial="Errors" arguments="{errors:errors}" />
    <div data-result="{result}">
        <vt:variableText labelName="request_access_grant_access">
            <vt:variableText.marker name="requesting_user_full_name"><f:render partial="UsersName" arguments="{user:request.userRequestSource}"/></vt:variableText.marker>
            <vt:variableText.marker name="requesting_user_email"><f:render partial="UserNameOrEmail" arguments="{user:request.userRequestSource}"/></vt:variableText.marker>
            <vt:variableText.marker name="target_user_full_name"><f:render partial="UsersName" arguments="{user:request.userRequestTarget}"/></vt:variableText.marker>
            <vt:variableText.marker name="target_user_email"><f:render partial="UserNameOrEmail" arguments="{user:request.userRequestTarget}"/></vt:variableText.marker>
            <vt:variableText.marker name="requesting_usergroup">{request.userGroup.title}</vt:variableText.marker>
            <vt:variableText.marker name="user_expiring_groups"><f:if condition="{activeExpiringGroups}">
                <f:then><ul>
                    <f:for each="{activeExpiringGroups}"
                           as="item">
                        <li>{item.group.title} van
                            <f:format.date format="d-m-Y">{item.startDate}</f:format.date>
                            t/m
                            <f:format.date format="d-m-Y">{item.endDate}</f:format.date>
                        </li>
                    </f:for>
                </ul></f:then>
                <f:else><f:translate key="none"/></f:else>
            </f:if></vt:variableText.marker>
            <vt:variableText.marker name="start_date"><f:format.date format="d-m-Y">{startTime}</f:format.date></vt:variableText.marker>
            <vt:variableText.marker name="end_date"><f:format.date format="d-m-Y">{endTime}</f:format.date></vt:variableText.marker>
        </vt:variableText>
    </div>
</f:section>
</html>
